# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略编辑器生成的临时文件
.vscode/
*.swp
*.swo
*.swn
*.swm
*~
*.log
*.bak
*.tmp

# 忽略依赖目录
**/node_modules/
vendor/

# 忽略编译和构建文件
/build/
/dist/
/out/

# 忽略环境配置文件
.env
.env.local
.env.*.local

# 忽略本地配置文件
*.config.local

